body{
      background-color: pink;
      color: white;
      text-align: center;
      }

.small {
      height: 50px;
      width: auto;
    }
h1 {color: black;}
#titulocolor {color: yellow;}
h2 {
      color: orange;
      text-decoration: underline;
    }
img {
      height: 300px;
      width: auto;
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
